<h2>Total Amount for the Last 7 Days</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dayTotal in ViewBag.Last7DaysTotals)
        {
            <tr>
                <td>@dayTotal</td>
                <td>@dayTotal.TotalAmount.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
